@import './nav-menu.scss';
.nav {
    padding-top: 30px;
    display: flex;
    align-items: center;
    // @media (max-width: 991.98px) {
    //   display: none;
    // }
    &__list {
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: #202F44;
    }
    &__list-item {
        display: inline;
        padding-right: 44px;
        color: #202F44;
        &:hover {
            color: #202F44;
            opacity: 0.8;
            text-decoration: none;
        }
        @media (max-width: 1199.98px) {
            padding-right: 54px;
        }
        @media (max-width: 991.98px) {
            // margin: 0 16px;
        }
        &:last-child {
            padding-right: 0;
        }
    }
    &__number {
        padding-right: 24px;
        display: inline-block;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: #202F44;
        &:hover {
            color: #202F44;
            opacity: 0.8;
            text-decoration: none;
        }
        @media (max-width: 1199.98px) {
            padding-right: 5px;
            font-size: 16px;
        }
    }
}