.page-footer {
  &__card{
    background: #EEF0FF;
    box-shadow: -18px -18px 40px #F6FAFF, 18px 18px 40px rgba(0, 69, 255, 0.08);
    border-radius: 18px;
    padding: 60px;

  }
  &__card-article{
    font-size: 16px;
    line-height: 16px;
    color: #546175;
    font-weight: 400;
  }
  &__card-item{
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #202F44;
    @media (max-width: 991.98px) {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__card-number{
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    color: #0045FF;

    @media (max-width: 991.98px) {
      font-size: 24px;
      line-height: 24px;
    }

  }
  &__list-article{
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #202F44;
    padding-bottom: 60px;
  }
  &__list{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #546175;
    list-style: none;
    padding-left: 0;
  }
  &__list-item{
    color: #546175;
    padding-bottom: 16px;
    display: block;
    &:hover{
      color: #0045FF;
      text-decoration: none;
    }
  }
  &__bottom{
    padding-top: 200px;
  }
  &__img{
    width: 100%;
    max-width: 470px;
    height: auto;
  }
}







