.page-main{
  &__header{
    padding-top: 178px;
  }
  &__title{

  }
  &__sub-title{
    font-size: 18px;
    line-height: 29px;
    color: #546175;
  }
  &__card{
    background: #EBEFFF;
    box-shadow: 60px 60px 150px rgba(0, 69, 255, 0.16), inset -16px -16px 24px rgba(0, 69, 255, 0.08), inset 16px 16px 24px #F6FAFF;
    border-radius: 30px;
    width: 100%;
    padding: 40px;
    @media (max-width: 1199.98px) {
      padding: 25px;
    }
  }
  &__card-item{
    position: relative;
    background: #EBEFFF;
    box-shadow: -4px -4px 6px #F6FAFF, 4px 4px 6px rgba(0, 69, 255, 0.08);
    border-radius: 14px;
    padding: 20px;
    margin-bottom: 36px;
    @media (max-width: 1199.98px) {
      padding: 15px;
    }
    &:last-child{
      //margin-bottom: 0;
    }
  }
  &__card-item-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #384573;
    opacity: 0.8;
    @media (max-width: 1399.98px) {
      font-size: 14px;
      line-height: 16px;
    }

  }
  &__card-img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    @media (max-width: 1399.98px) {
      width: 50px;
      height: 50px;
    }
  }
  &__line{
    height: 5px;
    width: 0%;
    background: #D8E2FA;
    border-radius: 10px;
    margin-bottom: 4px;
    &_mt50{
      margin-top: 50px;
    }
  }
}
